[submodule "as"]
	path = autoSoftware
	url = https://github.com/parai/as.git
[submodule "TrampolineRTOS/trampoline"]
	path = TrampolineRTOS/trampoline
	url =  https://github.com/TrampolineRTOS/trampoline.git
[submodule "Freenivi/freenivi-os"]
	path = Freenivi/freenivi-os
	url =  https://github.com/Openwide-Ingenierie/freenivi-os.git
[submodule "Freenivi/meta-freenivi"]
	path = Freenivi/meta-freenivi
	url =  https://github.com/Openwide-Ingenierie/meta-freenivi.git
[submodule "Freenivi/meta-freenivi-sdk"]
	path = Freenivi/meta-freenivi-sdk
	url =  https://github.com/Openwide-Ingenierie/meta-freenivi-sdk.git
[submodule "CAN-Driver/ESP32-CAN-Driver"]
	path = CAN-Driver/ESP32-CAN-Driver
	url =  https://github.com/ThomasBarth/ESP32-CAN-Driver.git
[submodule "CAN-Driver/can_bridge"]
	path = CAN-Driver/can_bridge
	url =  https://github.com/russery/can_bridge.git
[submodule "CAN-Driver/canLogger"]
	path = CAN-Driver/canLogger
	url =  https://github.com/hayden-t/canLogger.git
[submodule "CAN-Driver/_CANcrusher_ARM"]
	path = CAN-Driver/_CANcrusher_ARM
	url =  https://github.com/afterhoursengineering/_CANcrusher_ARM.git
[submodule "CAN-Driver/CAN"]
	path = CAN-Driver/CAN
	url =  https://github.com/kevinkrieger/CAN.git
[submodule "OSCAR"]
	path = OSCAR
	url =  https://github.com/OSCARAdapter/OSCAR.git
[submodule "rusEFI"]
	path = rusEFI
	url =  https://github.com/rusefi/rusefi.git
[submodule "MountainBoard/eboardControlUnit"]
	path = MountainBoard/eboardControlUnit
	url = https://github.com/Lukaszm94/eboardControlUnit.git
[submodule "MountainBoard/eboardDriversUnitControllerV1"]
	path = MountainBoard/eboardDriversUnitControllerV1
	url = https://github.com/Lukaszm94/Eboard_DriversUnitControllerV1.git
[submodule "MountainBoard/eboardControlUnitV1"]
	path = MountainBoard/eboardControlUnitV1
	url = https://github.com/Lukaszm94/Eboard_ControlUnitV1.git
[submodule "Gnuradio/gr-gsm"]
	path = Gnuradio/gr-gsm
	url = https://github.com/ptrkrysik/gr-gsm.git
[submodule "OpenXC/vi-firmware"]
	path = OpenXC/vi-firmware
	url = https://github.com/openxc/vi-firmware.git
[submodule "OpenXC/uds-c"]
	path = OpenXC/uds-c
	url = https://github.com/openxc/uds-c.git
[submodule "OpenXC/isotp-c"]
	path = OpenXC/isotp-c
	url = https://github.com/openxc/isotp-c.git
[submodule "OpenXC/openxc-c"]
	path = OpenXC/openxc-c
	url = https://github.com/openxc/openxc-c.git
[submodule "OpenXC/emhashmap"]
	path = OpenXC/emhashmap
	url = https://github.com/openxc/emhashmap.git
[submodule "OpenXC/emqueue"]
	path = OpenXC/emqueue
	url = https://github.com/openxc/emqueue.git
[submodule "OpenXC/diagnostic-tool"]
	path = OpenXC/diagnostic-tool
	url = https://github.com/openxc/diagnostic-tool.git
[submodule "OpenXC/openxc-android"]
	path = OpenXC/openxc-android
	url = https://github.com/openxc/openxc-android.git
[submodule "OpenXC/openxc-ios-app-demo"]
	path = OpenXC/openxc-ios-app-demo
	url = https://github.com/openxc/openxc-ios-app-demo.git
[submodule "OpenXC/openxc-ios-framework"]
	path = OpenXC/openxc-ios-framework
	url = https://github.com/openxc/openxc-ios-framework.git
[submodule "OpenXC/rearview-camera"]
	path = OpenXC/rearview-camera
	url = https://github.com/openxc/rearview-camera.git
[submodule "OpenXC/android-webcam"]
	path = OpenXC/android-webcam
	url = https://github.com/openxc/android-webcam.git
[submodule "OpenXC/emlist"]
	path = OpenXC/emlist
	url = https://github.com/openxc/emlist.git
[submodule "OpenXC/rain"]
	path = OpenXC/rain
	url = https://github.com/openxc/rain.git
[submodule "OpenXC/nightvision"]
	path = OpenXC/nightvision
	url = https://github.com/openxc/nightvision.git
[submodule "Traccar/traccar"]
	path = Traccar/traccar
	url = https://github.com/traccar/traccar.git
[submodule "Traccar/traccar-web"]
	path = Traccar/traccar-web
	url = https://github.com/traccar/traccar-web.git
[submodule "Traccar/traccar-client-android"]
	path = Traccar/traccar-client-android
	url = https://github.com/traccar/traccar-client-android.git
[submodule "Traccar/traccar-manager-ios"]
	path = Traccar/traccar-manager-ios
	url = https://github.com/traccar/traccar-manager-ios.git
[submodule "Traccar/traccar-manager-android"]
	path = Traccar/traccar-manager-android
	url = https://github.com/traccar/traccar-manager-android.git
[submodule "Traccar/traccar-manager-assets"]
	path = Traccar/traccar-manager-assets
	url = https://github.com/traccar/traccar-manager-assets.git
[submodule "Traccar/traccar-client-ios"]
	path = Traccar/traccar-client-ios
	url = https://github.com/traccar/traccar-client-ios.git
[submodule "OpenVehicles/Open-Vehicle-Monitoring-System-3"]
	path = OpenVehicles/Open-Vehicle-Monitoring-System-3
	url = https://github.com/openvehicles/Open-Vehicle-Monitoring-System-3.git
[submodule "OpenVehicles/Open-Vehicle-Monitoring-System"]
	path = OpenVehicles/Open-Vehicle-Monitoring-System
	url = https://github.com/openvehicles/Open-Vehicle-Monitoring-System.git
[submodule "OpenVehicles/Open-Vehicle-Android"]
	path = OpenVehicles/Open-Vehicle-Android
	url = https://github.com/openvehicles/Open-Vehicle-Android.git
[submodule "OpenVehicles/Open-Vehicle-iOS"]
	path = OpenVehicles/Open-Vehicle-iOS
	url = https://github.com/openvehicles/Open-Vehicle-iOS.git
[submodule "Telematic/gsmlib"]
	path = Telematic/gsmlib
	url =  https://github.com/vbouchaud/gsmlib.git
[submodule "Telematic/uptane"]
	path = Telematic/uptane
	url =  https://github.com/uptane/uptane.git
[submodule "CANpie"]
	path = CANpie
	url = https://github.com/canpie/CANpie.git
[submodule "CANsniffer"]
	path = CANsniffer
	url = https://github.com/majbthrd/CANsniffer.git
[submodule "Demo/SAMC21demoCAN"]
	path = Demo/SAMC21demoCAN
	url = https://github.com/majbthrd/SAMC21demoCAN.git
[submodule "Demo/GPS_NMEA_parser"]
	path = Telematic/GPS_NMEA_parser
	url = https://github.com/MaJerle/GPS_NMEA_parser.git
[submodule "Demo/GSM_AT_commands_parser"]
	path = Telematic/GSM_AT_commands_parser
	url = https://github.com/MaJerle/GSM_AT_commands_parser.git
